





.App-link {
  color: #61dafb;
}

.theList{
  position: fixed;
  right: 0;
  top: 17vmin;
}
/* ChatWindow{
  position: relative;
  left: 0;
  bottom: 0;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
