





.App-link {
  color: #61dafb;
}

.theList{
  position: fixed;
  right: 0;
  top: 15vmin;
  background-color: blue;
  padding: 5vmin;
  height: 100%;
  width: 10%;
  min-width: 25vmin;
  border-left: 2px solid black;
  box-shadow: 0vmin 3vmin 3vmin;
}
.SendMsgForm{
  margin-left: 10vmin;
  width: 80%;
}
.SendMsgForm input{
  width: 70%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
