header {
    background-color: blue;
    height: 15vmin;
    position: sticky;
    top: 0;
    width: 100%;

    p {
        color: whitesmoke;
        font-size: 6vmin;
        text-align: left;
        margin-left: 20vmin;
        position: absolute;
        font-family: pacifico;
    }

    .App-logo {
        height: 10vmin;
        pointer-events: none;
        position: absolute;
        left: 5vmin;
        top: 3vmin;
      }
      
      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }

      .logout {
        position: absolute;
        right: 10vmin;
        top: 5vmin;
        padding: 1.5vmin;
        border-radius: 50%;
      }

}